@import '../Frontend/constants.scss';

.backOffice-wrapper {
    width: 100%;
    height: 100%;
    font-family: Lato !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.backOffice-header {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 10%;
    @media only screen and (min-width: $breakpoint-tablet) {
        padding: 5%;
    }
}

.error-label {
    color: red;
    font-size: 0.8rem;
}