@import './constants.scss';

html {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%; 
    font-family: $default-font;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-screen-top {
    height: 30%;
}

.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 10%; 
    padding-bottom: 10%; 
}

.welcome-screen-main-title {
    width: 100%;
    color: $text-gray;
    margin-bottom: 0;
    text-align: center;
}

.welcome-screen-sub-title {
    width: 90%;
    color: $text-gray;
    text-align: center;
    font-weight: 100;
    padding: 0 5%;
}

.person-img {
    width: 70%;
    margin-bottom: 15%;
}

.ready-button {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    width: 100%;
}

.ready-button-text {
    font-size: 1.3rem;
    margin-left: auto;
    color: $text-gray;
}

.language-pos-absolute {
    position: absolute;
    right: 8px;
    top: 8px;
}

.language-select {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    p {
        font-size: 0.75rem;
        margin: 0 2px;
    }
}

.selected-lang {
    font-weight: bold;
}