/* FONT STUFF */
$default-font: Lato;
$text-gray: #47525E;
$text-lightgray: #8190A5;
$text-extra-lightgray: #bbbec3;



$border-lightgray: #D2DAE6;


$navbar-selected: #165EFF;
$navbar-not-selected: #E5E9F2;