@import '../colors.scss';

.event-wrapper {
    height: auto;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.event {
    padding: 5% 10% 3% 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $border-lightgray;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.event-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.event-description {
    font-size: 0.8rem;
    margin: 10px 0 0 0;
    color: $text-lightgray;
}

.icon-label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    font-size: 0.8rem;
    line-height: 1rem;
}

.event-icon {
    color: $text-lightgray;
    font-size: 14px;
}

.icon-link {
    color: blue !important;
}

.event-icon-label {
    margin-left: 10px;
    color: $text-lightgray;
}

.sub-event-wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $border-lightgray;
    margin-top: 15px;
}

.sub-event {
    display: flex;
    flex-direction: row;
    font-size: 0.70rem;
    color: $text-lightgray;
    width: 100%;
}

.sub-event-time-and-title {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.sub-event-title {
    margin: 5px 0 0 0;
    margin-left: 0.6rem;
}

.sub-event-time {
    margin: 5px 0 0 0;
    white-space: nowrap;
}

.sub-event-address {
    margin: 5px;
    margin-left: auto;
    text-decoration: underline;
    color: blue !important;
}


.event-chevron {
    @media only screen and (min-width: 600px) {
        visibility: hidden;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    color: $text-extra-lightgray;
    font-size: 0.6rem;
    margin-top: 5px;
    cursor: pointer;
}
